[Unit]
Description=Service to cycle record audio samples
After=timeupdater.service pgbouncer.service

[Service]
Type=simple
ExecStart=/home/pi/.virtualenvs/liftai_audiorec/bin/python -O /home/pi/.virtualenvs/liftai_audiorec/bin/audio_recorder
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
