[Unit]
Description=Service to determine trips from accelerometer data
After=pgbouncer.service

[Service]
Type=simple
ExecStart=/home/pi/.virtualenvs/liftai_trips/bin/python -O /home/pi/.virtualenvs/liftai_trips/bin/trips
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
